
body {
  font-family: 'Oxygen','Ubuntu', sans-serif;
}

.main-cont {

}



/* Navigation Bar starts */
/* Header starts */

.header-title1 {
  color: white;
  letter-spacing: 3px;
}

.header-title2 {
  color: white;
  letter-spacing: 3px;

}

.top-nav {
 overflow: hidden;
 background-color: #2f3f3c;
 font-family: 'Ubuntu', sans-serif;
}

.top-nav a {
  float:left;
  font-size:20px;
  color: white;
  text-align: center;
  padding: 25px 45px;
  text-decoration: none;
}

.research {
  float: left;
  overflow: hidden;

}

.research .researchbtn {
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 45px;
  background-color: #2f3f3c;
}

.top-nav a:hover,
.research:hover .researchbtn,
.researchbtn:focus {
  background-color: #439898;
}

.research-dropdown {
 display: none;
 position: absolute;
 background-color: #8B746C;
 min-width: 160px;
 z-index: 1;
}

.research-dropdown a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.research-dropdown a:hover {
  background-color: #CCB188;
}

.top-nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.show {
  display: block;
}
/* Navigation Bar ENDS */
/* Home Slider starts */
