
body {
  font-family: 'Oxygen','Ubuntu', sans-serif;
}

.main-cont {

}








.top-nav {
 overflow: hidden;
 background-color: #2F3F3C;
 font-family: 'Ubuntu';
}

.top-nav a {
  float:left;
  font-size:24px;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.research {
  float: left;
  overflow: hidden;
}

.research .researchbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 15px 15px;
  background
}

.top-nav a:hover,
.research:hover .researchbtn,
.researchbtn:focus {
  background-color: #439898;
}

.research-dropdown {
 display: none;
 position: absolute;
 background-color: #8B746C;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(,0,0,0,0.2);
 z-index: 1;
}

.research-dropdown a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.research-dropdown a:hover {
  background-color: #CCB188;
}

.show {
  display: block;
}
